body {
    background: white;
    color: black;
}

div, input, p, pre, textarea {
    font-family: Droid Sans,sans-serif;
    line-height: 2em;
}



.App-title {
    font-size: 26px;
}

.a{
    color: black;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
@media (max-width: 568px) {

    .navbar{
        background-color: white;
        border-bottom: 2px solid darkorange;
        display: flex !important;
    }
    #sidebar {
        display: none;
    }

    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
#sidebar {
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    margin-top: auto;
    margin-bottom: auto;
    height: 80%;
    width: 28%;
    transition: width 0.6s ease, left 0.6s ease;
    border-right: 2px solid orange;
    background-color: white;
}

#sidebar.active {
    margin-left: -250px;
    font-weight: 700;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: orange;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid orangered;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar li a {
    color:black;
    font-size: 1.5em;
    padding: 10px;
    display: block;
}
#sidebar li a:hover {
    color: orange;
    background: darkgrey;
    border-right: 10px solid darkorange;

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: darkgrey;
    background: orange;
}
a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {

    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Droid Sans,sans-serif';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: orange;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: darkorange;
}
a.article, a.article:hover {
    background: darkgoldenrod !important;
    color: darkgrey !important;
}

div, input, p, pre, textarea {
    font-family: Droid Sans,sans-serif;
    line-height: 2em;
    color: black;
}

.navbar{
    display: none;

}

.profile{
    display:flex;
    justify-content: center;
}
.profile-img{
    width: 150px;
    height:150px;
    border:3px solid #ffffff;
    border-radius:75px;
}

.nav-link:hover{
    background: lightgrey;
    border-right: 10px solid darkorange;
    transition: top 0.6s ease;
    z-index: 1;
    cursor: pointer;

}
.nav-link.active{
    border-right: 10px solid orange;
}
.nav-link ul li a {
    color:black;
    padding: 10px;
    display: block;

}
.sidebar-content{
    margin-top: auto;
    margin-bottom: auto;
}